@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Ajax.ActionLink("Register", "Register", "Account", new { Area = "Common" }, new AjaxOptions()
            {
                UpdateTargetId = "logindialog",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "spinner"
            }, new { id = "loginLink", @class = "register" })
        </li>
        <li>
            @Ajax.ActionLink("Log in", "Login", "Account", new { Area = "Common" }, new AjaxOptions()
            {
                UpdateTargetId = "logindialog",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "spinner"
            }, new { id = "loginLink", @class = "login" })
        </li>
        <li><a>Retailer</a></li>
    </ul>
}
